{% extends 'app/layout/main.html' %}


{% block content %}
<style>
    a{
        text-decoration: none;
    }
</style>
<div class="text-bg-dark p-3">
    <div class="container">
        <a class="text-white" href="{% url 'home' %}">Home</a>
        <a class="text-white" href="{% url 'category' %}">/ Category</a>
        <a class="text-white" href="{% url 'categoryview' category.name %}">/ {{ category.name }}</a>
    </div>
    
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            
            <h1>{{ category.name }}</h1>
            <hr>
            <div class="row">
                {% for item in car %}
                    <div class="col-md-3">
                        <div class="card">
                            <a href="{% url 'carview' item.category.id item.id %}">
                                <div class="card-body">
                                    <div class="category-image">
                                        <img src="{{ item.car_image.url }}" alt="Car image" class="w-100">
                                    </div>
                                    <h4 class="text-center">{{ item.name }}</h4>
                                    <p class="float-end">Model :{{ item.model }} </p>
                                    <span class="float-start">Price Per Day :$ {{ item.rental_price_per_day | stringformat:'d' }} </span>
                                    
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
                
            </div>
            
        </div>
    </div>
</div>



       
{% endblock content %}