{% extends 'app/layout/main.html' %}


{% block content %}
<!-- ++++++++++++++++++++++++++++++++ -->

<br>
<div class="container"> 
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h2 class="fw-bold text-center alert alert-light" role="alert">Book Now</h2>
                    </div>
                    <div class="card-body">
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{form.as_p}}
                            {% block carsCheckBox  %}
                                
                            {% endblock carsCheckBox %}
                            <input type="hidden" name="user_id" value="{{request.user.id}}">
                            <input type="submit" class="btn btn-success" name="CheckAvailibality" value="Check Availibality">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<hr>
    <!-- ++++++++++++++++++++++++++++++++ -->
    <div class="col-md-10">
        <div class="card">
            <div class="card-header">
                <h1 class="fw-bold text-center alert alert-info"></h1>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Costumor Name</th>
                            <th>Car Name</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr>
                            <td>Hamza</td>
                            <td>Golf</td>
                            <td>2023-12-03</td>
                            <td>2023-12-05</td>
                            <td>
                                <img src="" alt="" class="prod-size">
                            </td>
                            <td>
                                <a href="" class="btn btn-success badge">Edit</a>
                            </td>
                        </tr>
                    </tbody>
                    
                </table>
            </div>
        </div>
    </div>
     
        
</div>
<!-- ++++++++++++++++++++++++++++++++ -->

<!-- <section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h2 class="fw-bold">Book Now</h2>
                    </div>
                    <div class="card-body">
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="" class="form-label">Costumor Name</label>
                                <input type="text" required name="customname" id="" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Car</label>
                                <input type="text" required name="car" id="" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Start Date</label>
                                <input type="date" required name="start-date" id="" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">End Date</label>
                                <input type="date" required name="end-date" id="" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-success">Add</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
{% endblock %}